<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luo Culture - Essays and Folk Tales</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }
        
        .container {
            width: 90%;
            max-width: 1200px;
            margin-left: 5%;
            margin-right: 5%;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        h2, h3, h4 {
            color: #008080;
            margin-top: 20px;
        }
        
        h2 {
            font-size: 24px;
            border-left: 4px solid #008080;
            padding-left: 10px;
        }
        
        h3 {
            font-size: 20px;
        }
        
        h4 {
            font-size: 18px;
        }
        
        p {
            margin-bottom: 15px;
        }
        
        blockquote {
            border-left: 4px solid #008080;
            padding-left: 15px;
            margin-left: 0;
            color: #555;
        }
        
        ul, ol {
            margin-bottom: 20px;
        }
        
        li {
            margin-bottom: 5px;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        
        th, td {
            border: 1px solid #ddd;
            padding: 8px 12px;
            text-align: left;
        }
        
        th {
            background-color: #008080;
            color: white;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        .example {
            background-color: #e6f3f3;
            padding: 10px;
            border-left: 3px solid #008080;
            margin-bottom: 15px;
        }
        
        .phoneme-table {
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>4.6.3 Writing essays on complex topics</h2>
        
        <h3>Pakruok (Self Praise)</h3>
        <p>Another unique characteristic in the Luo music is the introduction of yet another chant at the middle of a musical performance. The singing stops, the pitch of the musical instruments go down and the dance becomes less vigorous as an individual takes up the performance is self please. This is referred to as Pakruok.</p>
        <p>There was also a unique kind of ululation, Sigalagala/Oooyo, that marked the climax of the musical performance. Sigalagala was mainly done by women.</p>
        
        <p>An anyam jater manang'o agwata ma ng'ong'o ne agwata ni ng'ou</p>
        <p>An iluonga ni Okanda Barak Orondo ja wagire Tanzania to an Dar es salaam, ne an gi pakruok mane adwaro mondo uketna e par mar jaluo ni.</p>
        <p>An okey wuod gi pili, okew godiango auki ogondo omil mach, an e awil osiep orojo makaja ong'er tugo gi yago, njoklo njoklo min okoko mano anda moti makidwarwako to nyaka igo ogol ogol.</p>
        <p>Mayie! Mayie! an Charly ma wuod Ogutu ja buoye but ka Nyamori ...wuoyi mocha piny Jakano tek to tar makata ideye tokodere Ibiro yie. imosna ajoji ma ja youth Buoye kanyo. Aol. tho.</p>
        <p>An Aluoch nyar Obure, nyar joKogweno Biritis dhako ma maneja ma chuo madongo gi matindo tiyo e bwoye.</p>
        <p>Oyawreuru nyikwa Ramogi. Ee an iluonga ni otarre wuod nya mwalo nyakwar nyochungi chieng noyang dhiang gi kadier ngeye ni e kore, chuny min oaye.</p>
        <p>Kawan gi imin odhis wuoyi ma pinje chuero jachula.</p>
        <p>eeeh, tomiya tie wach, an abittoh, nyajoalego an, achi puth omongi ochunglo nito inema ikayonajaduong kabiro losa, kone ochunglo to oonegi pooo tek manadi. mayo nyajoalego, niwan ema wanka.</p>
        <p>erogo abende achung' gi ma mara ni an e omollo radwal odhi ng'iewo alot mar sukuma openjo mama mauso niya "mmmmama ssss.....ssss kuma pesa ngapi?" kendo an e machengo ng'at manyemo e bungu ma winy werne ni chuo ithogo chuo ithogo chuo ithogo!</p>
        <p>Mae Odhis daudi mae e dalano mar Bondo..........."Odhis nyaluo nyaluo nyaluo mano wuoi ma rach ma oneno nyako maber mawacho ni ng'ei na lomba onndiek kam kuot kam nege ama kama okuot ema onege"</p>
        <p>Atieno bamb chiegi makata pek to iyuarigo mana kendi maok idwaro ngama konyi.</p>
        <p>An woud Kadiang'a mawuongi onindo, bang' ik a lando ne joter ni polo bong' ji duogo, joter wang'ni olewo.</p>
        <p>Mine orado eliel, wachoni, we wanyier nya Koguta; lak chogo, fuok to ring'o.</p>
        <p>Ean Onyango Wuod Odhoch Nyakwar Nyoracha Edala mar Kanyadiboh, Kadianga, Nyakach</p>

        <h3>Luo Long Riddles</h3>
        <p>The following are long riddles.</p>
        <p>Aduaro goyo nu mnaye.</p>
        <p>AN: Mnaye uru.</p>
        <p>UN: Kwithe.</p>
        <p>AN: Ok an lowo, to bende ok an muya.</p>
        <p>UN: Ot.</p>
        <p>AN: Da, ok en ot.</p>
        <p>UN: To kara nyaka bed ni en luanda.</p>
        <p>AN: Duoko ero chal ni tamo u yudo. Ara koro chik uru itu ma ber. A bet a wer chiegni ni odiechieng' duto. Amiel ka awito bada na koni gi kocha. To kata kamano, to kinde moko to ager mana ka pino. A wuo gi kwinyo ka kich ma o loso more e wi yath. A ruto ka sibuor kata ondiek.</p>
        <p>UN: Mano to duoko mare yot ndi. En yamo ma kudho. A paro ni en kalapus ma duong' ruok.</p>
        <p>AN: Da. Ero podi duoko otamo u yudo. Kara miya uru dhiang' achiel abi apur ga kodo.</p>
        <p>UN: Kaw dhiang' achiel obi okonyi puro puothi.</p>
        <p>AN: Ok abi nyisou duoko duto. Amiu mana weche ma nyisou paro kendo penjo ni, to do bed ang'o no?</p>
        <p>UN: To kara ero med lero nwa wach.</p>
        <p>AN: Ka aonge to ketch nyalo bet ma ng'eny ahinya ei Pinyluo.</p>
        <p>UN: Ah! Mano to koro iloso ma ber. Onge gi moro nono ma duoko no nyalo bet, mak mana Thuolo!</p>
        <p>AN: Da. Ok en Thuolo. Ara kendo chik uru ithu ma ber. Kar ma an tie ye, yiedhi bende nitie. Kar ma achung' ye, rech bende nitie. Ka moro amora ma an tie ye, Joluo mor ahinya.</p>
        <p>UN: Thum.</p>
        <p>AN: Da. Miya uru dhiang' moro kendo, mondo ahul nu tiend mnyaye no.</p>
        <p>UN: Ah, ah! Dhiang' mar ariyo ma ikwayo no, to o bayi chuth. Wowe! Ma to kendo koro igoyo opuk ei pige! Duoko en Nam Lolwe!</p>
        <p>AN: Un kare chuth! Duok en Nam Lolwe.</p>

        <h4>Mnaye Uru Joluanda Gi Nyiluanda</h4>
        <p>An: Mnaye uru.</p>
        <p>Un: Kwithe.</p>
        <p>An: Ok en dhano, to kendo ok en le. Ok en winyo to bende ok en kidi.</p>
        <p>Un: Ah! Nyaka bed ni en nam.</p>
        <p>An: Da. Mano ok en ye duoko.</p>
        <p>Un: To kara duoko nyaka bed ni en muya.</p>
        <p>An. Mano bende ok en.</p>
        <p>Un: Koyo ma chiemo.</p>
        <p>An: Ara miya uru dhiang' achiel a dhi mondo apur kodo puothena.</p>
        <p>Un: Da! Rit mondi ma tin, podi wa temo paro mos, mondo wa yud duoko.</p>
        <p>An: Adag ni nyaka to umiya mondi dhiang' eka aler nu duoko no, to bende mana ma tin kende.</p>
        <p>Un: Dhiang' eri kaw ibi ipur ga kodo puotheni.</p>
        <p>An: Erokamano uru ahinya. To kara med uru temo yudo duoko.</p>
        <p>Un: En wach.</p>
        <p>An: Da. Dhano duto nyaka bed kode. Ka o onge to joloch loko ng'at ma ginyono piny msumba.</p>
        <p>Un: en paro.</p>
        <p>An: Mano bende ok en. Kara amedo nyiso kaka en mondo duoko obed nu ma yot. Ok nene to bende en mana tie kuonde duto.</p>
        <p>Un: Iwacho ni gino kata ng'ato ma iloso kuome no ok nene, to ni kuonde duto bende en tie ye? Mano to an gi adier ni en mana Nyasaye.</p>
        <p>An: Da. Podi ok uyudo duoko ma kare.</p>
        <p>Un: Wan gi adier ni en, Thuolo.</p>
        <p>An: Mano to uwacho gima kare chuth. Duoko en, Thuolo!</p>
        <p>Un: Kara to, koro duoknwa dherwa ma nende wasingo ni?</p>
        <p>An: Eri aduoko nu dhiang' ma nende u miya.</p>
        <p>Un: Erokamano.</p>

        <h3>Other Luo Folk Tales</h3>
        <h4>Sigand Opuk Gi Akuru</h4>
        <p>Chon gi lala opuk kod akuch odulga ne gin osiepe mangita gi del.  Ne gidak gi kwe ka gipuonjore kendo ging'adore rieko kanyakla.  Ne githoro limore makmana ni monde gi emane jochwanyogi kane gigoyyo mbaka-gi giwegi.</p>
        <p>Cheing' moro achiel akuru nodhi limo opuk. Kuom hawi maber, noyudo ka chi opuk onge kendo cheing'ono mbaka nodhi nyawang' achiel makata ng'ama ng'adogi e wach ne onge, Akuru be mor kod mbaka machieng'ono mi nopenjo opuk niya"Osipna to kawuono jaodi odhi kanye ma wabudho makata ng'ama ng'ado dhowa ongeni? Opuk noduoke "Oseipna in ng'at mawagenorego ma ka wach dhako ema diketha kodi mi bedni kata mbaka ok wanyal goyo maber, thoo! ajok kendo nyoro asenego dhakono".</p>
        <p>Akuru notimo mos ahinya kuom winjo wachno. Opuk to notemo nyise marach ni kik odew ahinya mimar en tinde ekaoyudo thwolo mar cham ngima gi nyadendi gweng".  Akuru ilo nomako mi nogeto kit dak ma osiepne nodak godo.  Nong'ado ei chunye no obende nyaka otim mana kata osipne osetimo.</p>
        <p>Kane odok dala, nochako kwinyo chiege gi mar oyiem.   Miero nochakore e kindgi mi nogoyo dhano motho tikli.  Ka mach momwochie olemo, wachno molandore e gweng' mi nyiri duto koro noluoro akuru ma ka ginene to giringo aringa.  Bang' ndalo manok, akuru nodhi limo opuk, mondo opakre ne kuom tich mosetimo.  Ka nondojoe dala maduong'o dhoot, chi opuk emane oywuone thigo.</p>
        <p>Nobuok kogoyo nduru matek,</p>
        <p>"Uuuwi, Uuuwi, opuk omera dhani oduogo kod chien e dalani ka, Uuuwi, jadilere!".</p>
        <p>Opuk nowinjo koko mowuok oko.  Nonyise ni mano ok jachien "En mana jaoda ema ineno-no.  Yande otho to osechier". nokone ni, "mon chierga kamano pile".</p>
        <p>Akuru nong'eyo no osiepne ose tiyo kod mirasia, omiyo nowuok kanyo kodhi dalane ka chunye opong gi mirima.  Godiechiengno, akuru nobedo gi kuyo malicj ahinya ndalo duto.  Nong'ado manyinya ni ok newuonde gi dichwo moro kendo.  Omiyo winj akuru osiko ka chiedho gi mondgi kang'wen.</p>
        <p>Ka nywawadgi otho to oyud dhako machielo nimar moko ong'eyo ang'eya ni onego chiege, bange'eno dichwo bende ok dagi aminga' ka pok otho.</p>
        <p>Tinde kaji doyo kamoro amora to iwino ka akuru wero chiege maneonego ni."Opuk owuonda ago chiega nyakajulu atho tiyo*</p>

        <h4>Ogila Wendo Maonge Erokamano.</h4>
        <p>Osiep mane nitie ekind Apuoyo kod Nyang' ne pek ma podho chieng' ema ne pogogi ka ng'ato ka ng'ato dok e dalane. Ne gilimore koni gi kocha. E achiel kuom limbego, mor kich mane Nyang' ochamo od Apuoyo notoye moramo ni en bende nyaka oluong Apuoyo wendo.</p>
        <p>Nolenyone Apuoyo mor dhiang' gi kuon. Ne en makichamo to kuon ridore mana kende. Bang' chiemb otieno, osiepe nogoyo mbaka nyaka dier otieno. Nyang' nolosone Apuoyo kar nindo e agoche kama opondo kendo liet. Ogila nopo ka lwete otuomo gimoro moluorore. Kara mano ne en tong nyang'. Agolano be emane goro mane Nyang' kanoe tonge mane pok obutnoe.</p>
        <p>Miluma notamo wang' Apuoyo nindo, kendo notoyo achiel mondo obil. Nopo ka gino ne mit mokadho awacha. Iye mane ose funde kuon gi mor dhiang' nofwong'ore piyo piyo nono. Yieng'o norumo kendo Ogila notoyoe mana wer.</p>
        <p>Tong Onyang' Onyang' omera</p>
        <p>Tong Onyang' Onyang' omera</p>
        <p>Loyo tong' duto gi mit</p>
        <p>Ago piny ni thup to amwony!</p>
        <p>Ago piny ni thup to amwony, to kwot odwa nega t'aywe!</p>
        <p>Wend Apuoyono nochiewo Nyang' e chuny nindo. Kendo noparoni wendone modhial dwaro kony. Nopenjo;"Ogila en ang'o ma chandi osiepna?" Apuoyo koro ne oloko weche kendo odwoko mapiyo,"Ooyo jayadha, liet agochi ema otoya." Kendo noloko wer aruya aruya nono niya:</p>
        <p>Agoch Onyang' Onyang' omera</p>
        <p>Agoch Onyang' Onyang' omera</p>
        <p>Loyo agola duto gi liet!</p>
        <p>Ago piny ni thup gi mor!</p>
        <p>Ago piny ni thup gi mor, to kwot odwa nega t'aywe!</p>
        <p>Nyang' ne mor ahinya ni kara wendone winjo maber, kendo ne odwoko Apuoyo niya,"Kara nind aninda maber wuod Ba".</p>
        <p>Apuoyo norito matin nyaka ayula wang' omako Nyang' kendo, bang'e nodok otoyo tong' machielo momwonyo kendo mit nomedo lungorene mochako otoye mana wer.</p>
        <p>Tong' Onyang' Onyang' omera</p>
        <p>Tong' Onyang' Onyang' omera</p>
        <p>Loyo tong' duto gi mit</p>
        <p>Ago piny ni thup to amwony!</p>
        <p>Ago piny ni thup to amwony, to kwot odwa nega t'aywe!</p>
        <p>Kane Nyang' ochiew kendo mopenje, nodwoko mana kaka nende, kowacho ni, "Ooyo jayadha, liet mar agondi ni ema omiya ilo. Kendo ne otoyo wer.</p>
        <p>Agoch Onyang' Onyang' omera</p>
        <p>Agoch Onyang' Onyang' omera</p>
        <p>Loyo agola duto gi liet!</p>
        <p>Ago piny ni thup gi mor!</p>
        <p>Ago piny ni thup gi mor, to kwot odwa nega t'aywe!</p>
        <p>K'ochopo kogwen, Apuoyo nochiew ka riado neno. Noyudo koserwoyo tong Nyang' motieko pep. Nokwayo Nyang' mondo ogonye to Nyang' notemo saye norit omadhie kata mana Nyuka mane obago gi nyinge. Nodwa fware bende gi njugu mondo oter ne lange. Ogila notwo ni nyaka omondi nikech nodhi pur gi dhok. Iye nopong'gi tong' Nyang' ma ka ne otemo wuoth to owuotho mana ka rang'ol.</p>
        <p>Ok nodwar ni Nyang' ofweny kuo mare. Kaka e kind par Nyang' gi mar Apuoyo nitie aora maduong', Nyang' notinge e toke mong'ado kode aora. Kane oduogo rango agola, noyudo mana kasakla mag tong'. Tong duto Apwoyo noserwoyo kendo mano ema notieko osiep manie kind Apuoyo kod Nyang'.</p>

        <h3>Nyamgondho wuod Ombare</h3>
        <p>Nyamgondho wuod Ombare was very poor man who eked a living by fishing on Lake Victoria. By all accounts, Nyamgondho's life as a young man was very miserable. He hardly had anything to eat or clothes to wear, and, every evening, his deprived circumstances forced him to walk long distances looking for a place among kind neighbors to rest his head during the night. One morning, the story goes, Nyamgondho woke up so hungry that he thought he was going to die of hunger.</p>
        <p>Summoning his last reserves of energy, he stumbled from the home of the neighbour where he had sheltered the previous night, and staggered to Lake Victoria, wondering what he would do with himself if the net he had set overnight did not catch anything.</p>
        <p>He reached the lake and started inspecting the fishing net. His hopes rose momentarily when he felt a heavy weight on the net. Yet, as he reeled it in, Nyamgondho's hopes collapsed when, instead of a big fish, he saw that the net had caught an ugly, old woman.</p>
        <p>Nyamgondho turned away in disgust. He was about to throw the net away together with the old woman when her voice stopped him in his tracks, urging him to take her home and make her his wife, instead of throwing her back into the lake. The old woman told him that if he married her, she would make him the wealthiest man in the land. She promised him a lot of cows, goats, and sheep. She also promised him many wives, children, and a big homestead.</p>
        <p>Realizing that he had nothing to lose, Nyamgondho decided to hearken to the old woman's entreaties. He took her and made her his wife. That act alone changed Nyamgondho's fortune. Within a short time, Nyamgondho's fishing net started catching massive amounts of fish in Lake Victoria. It was as though his net had become a magnet for fish overnight. Every morning, Nyamgondho would arrive at the lake, and find his nets bulging with large numbers of delicious fish. He sold much of his catch, trading them for grain, cattle, and farming implements</p>
        <p>With his fortune, Nyamgondho no longer found it difficult to find willing spouses. His homestead grew in size. He married many wives, sired many children, raised many herds of cows, and grew huge quantities of crops. Nyamgondho had everything. He became the richest man in the land.</p>
        <p>As his wealth grew, Nyamgondho developed traits that he never had when he was poor and miserable. His riches went to his head. He became haughty and proud. It was not unusual for him to come home drunk, singing his own praises, shouting loud insults at his neighbours and calling them paupers. He often set upon his wives and children, flogging them with a kiboko.</p>
        <p>Nyamgondho even started beating up his first wife, his mikayi - the old woman from the lake. One day Nyamgondho beat up the old woman really badly and she warned him that if he did it again, she would leave him, and his wealth would vanish</p>
        <p>Nyamgondho did not listen. Consumed by his wealth and self-importance, Nyamgondho beat up the old woman again, and this time, she decided to leave him. Nyamgondho was shocked when, as the old woman prepared to leave, all the wealth in the homestead also started preparing as well, and got ready to leave. He watched tongue-tied as the cows, goats, sheep, and chicken rose, and as grains of sorghum and millet gathered themselves up in baskets and pots, and trailled behind the old woman as she trudged back to the lake.</p>
        <p>As his other wives and children followed the old woman back to the lake, Nyamgondho heard a horrible sound issuing from what he thought were his own bowels, crying to the old woman not to leave the homestead, begging her to forgive him, promising never to misbehave again. His pleas fell on deaf ears; the old woman returned to the lake with all the property in Nyamgondho's compound. He was back where he was when he first met the old woman in the lake - miserable, poor, and desperate.</p>
    </div>
</body>
</html>